.efficiency{
  &__container{

  }
  &__title{
    font-weight: 700;
    @include adaptiveValue("font-size", 64, 32, 1920, 320, 1);
    line-height: 115%;
    text-align: center;
    text-transform: uppercase;
    color: black;
    @include adaptiveValue("margin-bottom", 73, 40, 1920, 320, 1);
    text-transform: uppercase;
    span {
      color: #8EE1E7;
    }
  }
  &__list{
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__item{
    display: flex;
    @include adaptiveValue("gap", 45, 20, 1920,320, 1);
  }
  &__icon{
    @include adaptiveValue("width", 78, 38, 1920, 320, 1);
    @include adaptiveValue("height", 78, 38, 1920, 320, 1);
    @include adaptiveValue("padding", 0, 8, 1920, 320, 1);
    background: #0099B2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    img{
      max-width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
  &__info{
    flex: 1 1 auto;
  }
  &__subtitle{
    color: #8EE1E7;
    text-transform: uppercase;
    font-weight: bold;
    @include adaptiveValue("font-size", 24, 16, 1920, 320, 1);
    @include adaptiveValue("margin-bottom", 24, 14, 1920, 320, 1);
  }
  &__describe{
    color: #000000;
    @include adaptiveValue("font-size", 24, 16, 1920, 320, 1);
  }
}