.result{

  &__container{
    background: #EAF4F5;
  }
  &__title{
    font-weight: 700;
    @include adaptiveValue("font-size", 64,32, 1920, 320, 1);
    line-height: 115%;
    text-align: center;
    text-transform: uppercase;
    color: black;
    @include adaptiveValue("margin-bottom", 73, 40, 1920, 320, 1);
    text-transform: uppercase;
    span {
      color: #8EE1E7;
    }
  }
  &__content{
    @include adaptiveValue("padding-left", 100, 10, 1920, 320, 1);
    @include adaptiveValue("padding-right", 100, 10, 1920, 320, 1);
    @include adaptiveValue("padding-top", 100, 20, 1920, 320, 1);
    @include adaptiveValue("padding-bottom", 100, 20, 1920, 320, 1);
  }
  &__list{
    display: flex;
    flex-direction: column;
    gap: 28px;
  }
  &__item{
    @include adaptiveValue("font-size", 24, 16, 1920, 320, 1);
    line-height: 115%;
    text-transform: uppercase;
    span{
      color: #8EE1E7;
    }
  }
}