.robot-model{
  box-sizing: border-box;
  background: #DAF1F4;
  @include adaptiveValue("padding-top", 67, 20, 1920, 320, 1);
  @include adaptiveValue("padding-right", 80, 20, 1920, 320, 1);
  @include adaptiveValue("padding-bottom", 20, 20, 1920, 320, 1);
  @include adaptiveValue("padding-left", 80, 20, 1920, 320, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  &__image{
    margin-bottom: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    img{
      max-width: 100%;
      object-fit: contain;
    }
  }
  &__name{
    font-weight: 700;
    @include adaptiveValue("font-size", 34, 24, 1920, 320, 1);
    line-height: 100%;
    text-align: center;
    color: #000000;
  }
  &__description{
    font-weight: 400;
    @include adaptiveValue("font-size", 24, 18, 1920, 320, 1);
    line-height: 130%;
    text-align: center;
    color: #000000;
    margin-bottom: 22px;
  }
}