%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
		font-family: 'icons';
	}
}
._icon-call:before {
	content: "\e900";
}
._icon-facebook:before {
	content: "\e901";
}
._icon-instagram:before {
	content: "\e902";
}
._icon-youtube:before {
	content: "\e903";
}
._icon-arrow:before {
	content: "\e904";
}
