@keyframes opacitys {
  from { opacity: 0; }
  to { opacity: 1; }
}


.cards{
  @include adaptiveValue("width", 530, 360, 1920, 1150, 1);
  @include adaptiveValue("height", 450, 310, 1920, 1150, 1);
  @media (max-width: $tablet){
    @include adaptiveValue("width", 530, 260, 1150, 320, 1);
    @include adaptiveValue("height", 450, 200, 1150, 320, 1);
  }
  &__wrapper{
    width: 530px;
    height: 100%;
    position: relative;
  }
  &__card{
    position: absolute;
    left: 0;
    top: 0;
    @include adaptiveValue("width", 530, 360, 1920, 1150, 1);
    @include adaptiveValue("height", 450, 310, 1920, 1150, 1);
    @media (max-width: $tablet){
      @include adaptiveValue("width", 530, 260, 1150, 320, 1);
      @include adaptiveValue("height", 450, 200, 1150, 320, 1);
    }
    background: #DFF9FD;
    transition:all 400ms cubic-bezier(0.71, 0.57, 0.01, 0.98);
    &:nth-child(1n + 4){
      animation: opacitys 0.5s ease-in-out 1;
    }
  }
  &__img{
    transition:all 400ms cubic-bezier(0.71, 0.57, 0.01, 0.98);
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
#about-card-{
  &1{
    transform: translate(80px, 80px);
    background: #D2E4E7;
    z-index: 3;
    @media (max-width: $tablet){
      transform: translate(40px, 40px);
    }
    @media (max-width: 560px){
      transform: translate(10px, 20px);
    }
  }
  &2{
    transform: translate(40px, 40px);
    background: #D2E4E7;
    z-index: 2;
    @media (max-width: $tablet){
      transform: translate(20px, 20px);
    }
    @media (max-width: 560px){
      transform: translate(5px, 10px);
    }
  }
  &3{
    left: 0;
    top: 0;
    background: #DFF9FD;
    z-index: 1;
    animation: opacitys 0.5s ease-in-out 1;
  }
}
#case__card-{
  &1{
    cursor: pointer;
    transform: translate(80px, 80px);
    background: #D2E4E7;
    z-index: 3;
    @media (max-width: $tablet){
      transform: translate(40px, 40px);
    }
    @media (max-width: 560px){
      transform: translate(10px, 20px);
    }
  }
  &2{
    transform: translate(40px, 40px);
    background: #D2E4E7;
    z-index: 2;
    @media (max-width: $tablet){
      transform: translate(20px, 20px);
    }
    @media (max-width: 560px){
      transform: translate(5px, 10px);
    }
  }
  &3{
    left: 0;
    top: 0;
    background: #DFF9FD;
    z-index: 1;
    animation: opacitys 0.5s ease-in-out 1;
  }
}
#news-card-{
  &1{
    cursor: pointer;
    transform: translate(80px, 80px);
    background: #D2E4E7;
    z-index: 3;
    @media (max-width: $tablet){
      transform: translate(40px, 40px);
    }
    @media (max-width: 560px){
      transform: translate(10px, 20px);
    }
  }
  &2{
    transform: translate(40px, 40px);
    background: #D2E4E7;
    z-index: 2;
    @media (max-width: $tablet){
      transform: translate(20px, 20px);
    }
    @media (max-width: 560px){
      transform: translate(5px, 10px);
    }
  }
  &3{
    left: 0;
    top: 0;
    background: #DFF9FD;
    z-index: 1;
    animation: opacitys 0.5s ease-in-out 1;
  }
}