.cases{
  &__container{

  }
  &__list{
    display: flex;
    flex-direction: column;
    @include adaptiveValue("gap", 40, 28, 1920, 320, 1);

  }
  &__case{
    @media (max-width: 560px){
      display: flex;
      flex-direction: column-reverse;
    }
  }
  &__header{
    display: flex;
    justify-content: space-between;
    @include adaptiveValue("gap", 40, 28, 1920, 320, 1);
    @include adaptiveValue("margin-bottom", 40, 28, 1920, 320, 1);
    @media (max-width: 560px){
      flex-direction: column;
    }
  }
  &__image {
    img{
      max-width: 100%;
      object-fit: contain;
    }
  }
  &__video{
    img{
      max-width: 100%;
      object-fit: contain;
    }
  }
  &__info{

  }
  &__title{
    @include adaptiveValue("margin-bottom", 30, 20, 1920, 320, 1);
    font-weight: 700;
    @include adaptiveValue("font-size", 20, 18, 1920, 320, 1);
    line-height: 115%;
    color: #303030;
    max-width: 50%;
    @media (max-width: 600px){
      max-width: 100%;
    }
  }
  &__describe{
    @include adaptiveValue("font-size", 16, 14, 1920, 320, 1);
    line-height: 115%;
    color: #000000;
  }
}