.feedback{
  background: #EAF4F5;
  margin-top: 75px;
  &__container{
  }
  &__inner{
    display: flex;
    justify-content: space-between;
    @include adaptiveValue("gap", 46, 24);
    @media (max-width: $tablet){
    flex-direction: column;
    }
  }
  &__title{
    text-transform: uppercase;
    font-weight: 700;
    color: #303030;
    @include adaptiveValue("font-size", 78, 54, 1920, 1150, 1);
    margin-bottom: 8px;
    line-height: 120%;
    @media (max-width: $tablet){
      @include adaptiveValue("font-size", 54, 32, 1150, 320, 1);
    }
    span{
      @include adaptiveValue("font-size", 72, 48, 1920, 1150, 1);
      line-height: 120%;
      color: #FFFFFF;
      text-shadow: 0px 0px 1px #000000;
      @media (max-width: $tablet){
        @include adaptiveValue("font-size", 48, 30, 1150, 320, 1);
      }
    }
  }
  &__describtion{
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 4px;
  }
  &__form-block{
    position: relative;
  }
  &__form-background{
    position: absolute;
    z-index: 1;
    top: -21px;
    bottom: -20px;
    right: -22px;
    left: 42px;
    background: #8EE1E7;
    @media (max-width: 560px){
      top: -11px;
      bottom: -10px;
      right: -12px;
      left: 22px;
    }
  }
  &__form{
    position: relative;
    z-index: 2;
    background: #D2E4E7;
    display: flex;
    flex-direction: column;
    @include adaptiveValue("padding-top", 44, 12, 1000, 320, 1);
    @include adaptiveValue("padding-bottom", 75, 20, 1000, 320, 1);
    @include adaptiveValue("padding-left", 85, 24, 1000, 320, 1);
    @include adaptiveValue("padding-right", 85, 24, 1000, 320, 1);
  }
  &__input-text{
    line-height: 21px;
    color: #7E7A7A;
    padding: 20px 25px 20px 10px;
    min-width: 300px;
    width: 100%;
    margin-bottom: 20px;
    outline: none;
    @media (max-width: 460px){
      min-width: 160px;
      width: auto;
    }
  }
  &__btn{
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 21px;
    color: #FFFFFF;
    font-family: 'Arial';
    font-style: normal;
    padding: 20px 20px;
    text-align: center;
    background: #02D4E1;
    width: 100%;
    @media (max-width: 460px){
      width: auto;
    }
  }
  &__label{
    display: flex;
    gap: 4px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #777777;
    cursor: pointer;
  }

}