//====================================================================================================

.header{
  @media (min-width:$tablet){
    margin-bottom: rem(40);
  }
  position: relative;
  z-index: 5;
  @media (max-width: 1150px){
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &_active{
    z-index: 105;
    & .header__phone-num{
      display: none;
    }
    & .header__logo{
      display: none;
    }
    & .header__tel {
      display: none;
    }
    & .header__burger{
      margin-left: auto;
    }
    & .header__icon{
      display: none;
    }
    & .header__burger:before{
        content: '';
        display: block;
        transform: rotate(45deg);
        position: absolute;
        height: 2px;
        top: 50%;
        left: 0;
        right: 0;
        background: white;
      }
     & .header__burger:after{
        content: '';
        display: block;
        position: absolute;
        height: 2px;
        bottom: 50%;
        transform: rotate(-45deg);
        left: 0;
        right: 0;
        background: white;
      }
     & .header__burger span{
       transform: rotate(45deg);
       opacity: 0;
      }
  }
  &__container{
    @media (max-width: $preTablet){
      margin-right: 20px;
    }
    @media (max-width: 1150px){

    }
  }
  &__top{
    display: flex;
    justify-content: space-between;
    @include adaptiveValue("margin-bottom", 45, 33, 1150, 320, 1);
    @include adaptiveValue("gap", 24, 16, 1150, 320, 1);
    @media (min-width: 1150px){
    }
  }
  &__phone-num{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    @include adaptiveValue("font-size", 24, 18, 1150, 320, 1);
    line-height: 80%;
    color: #000000;
    align-self: center;
    @media (min-width: 560px){
      display: none;
    }
  }
  &__logo{
    cursor: pointer;
    @include adaptiveValue("width", 377, 140);
    @include adaptiveValue("height", 72, 27);
    transition: 0.3s ease all;
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__nav{
    display: none;
    justify-content: space-between;
    @include adaptiveValue("gap", 16, 12, 1150, 320, 1);
    @media (max-width: 1150px){

    }
  }
  &__tel{
    font-size: rem(36);
    transition: 0.3s ease all;
    cursor: pointer;
    align-self: flex-start;
  }
  &__icon{
    cursor: pointer;
    transition: 0.3s ease all;
    margin-left: auto;
    @include adaptiveValue("height", 62, 36, 1150, 320, 1);
    @include adaptiveValue("width", 62, 36, 1150, 320, 1);
    border-radius: 50%;
    border: 2px solid #A7F7F9;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #A7F7F9;
    font-weight: bold;
    @include adaptiveValue("font-size", 36, 13, 1150, 320, 1);
    &:hover{
      transform: scale(1.1);
    }
    @media (min-width:$tablet){
      display: none;
    }
  }
  &__tel_number{
    @media (max-width: 1150px){
      display: none;
    }
  }
  &__icon{
    @media (min-width: 1150px){
      display: none;
    }
  }
  &__link{
    text-transform: uppercase;
    &:hover{
      text-decoration: underline;
    }
  }
  &__burger{
    position: relative;
    z-index: 999999;
    @include adaptiveValue("height", 62, 36, 1150, 320, 1);
    @include adaptiveValue("width", 62, 36, 1150, 320, 1);
    cursor: pointer;
    transition: 0.3s ease all;
    &:hover{
      transform: scale(1.1);
    }
    @media (min-width: 1150px){
      display: none;
    }
    &:before{
      transition: 0.3s ease all;
      content: '';
      display: block;
      position: absolute;
      height: 2px;
      top: 15%;
      left: 0;
      right: 0;
      background: black;
    }
    &:after{
      transition: 0.3s ease all;
      content: '';
      display: block;
      position: absolute;
      height: 2px;
      bottom: 15%;
      left: 0;
      right: 0;
      background: black;
    }
    span{
      transition: 0.3s ease all;
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: black;
      height: 2px;
      left: 0;
      right: 0;
    }
  }
}

//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
