.main-catalog{
  &__title{
    color: rgba(194, 246, 253, 0.6);
    font-weight: 700;
    font-size: 200px;
   // text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(143, 143, 143, 0.52);
    user-select: none;
  }
  &__products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 20px;
    row-gap: 72px;
    margin-top: -50px;
  }
  &__product{
    position: relative;
    color: #303030;
    width: 450px;
    height: 673px;
  }
  &__subtitle{
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #303030;
    margin-bottom: 56px;
  }
}


html {
  font-family: sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.text-center {
  text-align: center;
}

.color-white {
  color: #303030;
}

.flip-box {
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  width: 450px;
  height: 673px;
}

.flip-box-front,
.flip-box-back {
  box-sizing: border-box;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  width: 450px;
  padding: 50px;
  height: 673px;
  background: linear-gradient(180deg, #EDF5F6 100%, rgba(234, 243, 244, 0) 107.13%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -ms-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
  transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
  -webkit-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-front {
  -ms-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 450px;
  height: 673px;
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-back {
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box .inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 450px;
  height: 673px;
  padding: 60px;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
  transform: translateY(-50%) translateZ(60px) scale(.94);
  -webkit-transform: translateY(-50%) translateZ(60px) scale(.94);
  -ms-transform: translateY(-50%) translateZ(60px) scale(.94);
  top: 50%;
  display: flex;
  flex-direction: column;
  img {
    width: 186px;
    height: 352px;
    object-fit: contain;
    align-self: center;
    justify-self: flex-end;
  }
  .btn {
    margin-top: auto;
    align-self: center;
  }
}

.flip-box-header {
  font-size: 34px;
  margin-bottom: 60px;
  text-align: left;
}

.flip-box p {
  font-size: 20px;
  line-height: 1.5em;
}

.flip-box-button {
  background-color: transparent;
  border-radius: 2px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
  padding: 15px 20px;
  text-transform: uppercase;
}