.main-catalog{

  &__title{
    color: rgba(194, 246, 253, 0.6);
    font-weight: 700;
    font-size: 200px;
    @include adaptiveValue("font-size", 200, 140, 1920, 860, 1);
   // text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(143, 143, 143, 0.52);
    user-select: none;
    @media (max-width: 660px){
      display: none;
    }
  }
  &__products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 30px;
    row-gap: 72px;
    margin-top: -50px;
    @media (max-width: $tablet){
      @include adaptiveValue("row-gap", 50, 30, 1150, 320, 1);
    }
  }
  &__product{
    position: relative;
    color: #303030;
    @include adaptiveValue("width", 450, 340, 1920, 1150, 1);
    @include adaptiveValue("height", 673, 473, 1920, 1150, 1);
    @media (max-width: $tablet){
      @include adaptiveValue("width", 340, 280, 1150, 320, 1);
      @include adaptiveValue("height", 473, 410, 1150, 320, 1);
    }
  }
  &__subtitle{
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #303030;
    margin-bottom: 56px;
  }
}


html {
  font-family: sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.text-center {
  text-align: center;
}

.color-white {
  color: #303030;
}

.flip-box {
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  @include adaptiveValue("width", 450, 340, 1920, 1150, 1);
  @include adaptiveValue("height", 673, 473, 1920, 1150, 1);
  @media (max-width: $tablet){
    @include adaptiveValue("width", 340, 280, 1150, 320, 1);
    @include adaptiveValue("height", 473, 410, 1150, 320, 1);
  }
  .btn__text{
    @include adaptiveValue("font-size", 20, 16);
  }
}

.flip-box-front,
.flip-box-back {
  box-sizing: border-box;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  padding: 50px;
  @include adaptiveValue("padding", 50, 20);
  background: linear-gradient(180deg, #EDF5F6 100%, rgba(234, 243, 244, 0) 107.13%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -ms-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
  transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
  -webkit-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  @include adaptiveValue("width", 450, 340, 1920, 1150, 1);
  @include adaptiveValue("height", 673, 473, 1920, 1150, 1);
  @media (max-width: $tablet){
    @include adaptiveValue("width", 340, 280, 1150, 320, 1);
    @include adaptiveValue("height", 473, 410, 1150, 320, 1);
  }
}

.flip-box-front {
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-front {
  -ms-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box-back {
  position: absolute;
  top: 0;
  left: 0;
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  @include adaptiveValue("width", 450, 340, 1920, 1150, 1);
  @include adaptiveValue("height", 673, 473, 1920, 1150, 1);
  @media (max-width: $tablet){
    @include adaptiveValue("width", 340, 280, 1150, 320, 1);
    @include adaptiveValue("height", 473, 410, 1150, 320, 1);
  }
}

.flip-box:hover .flip-box-back {
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box .inner {
  position: absolute;
  left: 0;
  @include adaptiveValue("width", 450, 340, 1920, 1150, 1);
  @include adaptiveValue("height", 673, 473, 1920, 1150, 1);
  padding: 60px;
  @include adaptiveValue("padding", 60, 20, 1920, 1150, 1);
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
  transform: translateY(-50%) translateZ(60px) scale(.94);
  -webkit-transform: translateY(-50%) translateZ(60px) scale(.94);
  -ms-transform: translateY(-50%) translateZ(60px) scale(.94);
  top: 50%;
  display: flex;
  flex-direction: column;
  @media (max-width: $tablet){
    @include adaptiveValue("width", 340, 280, 1150, 320, 1);
    @include adaptiveValue("height", 473, 410, 1150, 320, 1);
  }
  img {
    @include adaptiveValue("width", 186, 136);
    @include adaptiveValue("height", 352, 302);
    object-fit: contain;
    align-self: center;
    justify-self: flex-end;
  }
  .btn {
    margin-top: auto;
    align-self: center;
  }
}
.flip-box-header {
  @include adaptiveValue("font-size", 34, 24);
  @include adaptiveValue("margin-bottom", 60, 25);
  text-align: left;
}
.flip-box p {
  line-height: 120%;
  @include adaptiveValue("font-size", 20, 18);
}
.flip-box-button {
  background-color: transparent;
  border-radius: 2px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
  padding: 15px 20px;
  text-transform: uppercase;
}