.menu{
  position: relative;
  z-index: 100;
  &__background {
    position: fixed;
    transition: 0.3s all ease-in;
    z-index: 5;
    right: calc((var(--mrigt) / 3.05));
    top: rem(40);
    width: 100%;
    height: 100%;
    background: #1f1f23;
    border-radius: 50%;
    transform: scale(0);

  }
  &_active{
    .menu__nav{
      display: flex;
    }
    .menu__background{
      transform: scale(28);
    }
    .menu__burger span {
      opacity: 0;
    }
    .menu__burger:after{
      background: white;
      transform: rotate(45deg);
      top: 50%;
    }
    .menu__burger:before{
      background: white;
      transform: rotate(-45deg);
      bottom: 50%;
    }
    .icon-menu__background{
      width: 100%;
      height: 100%;
    }
    .icon-menu__circle{
      & span{
        background: white;
      }
      .icon-menu__white{
        opacity: 1;
      }
      .icon-menu__black{
        opacity: 0;
      }
    }
  }
  &__burger{
    $this: &;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: rem(55);
    padding: rem(15) 0;
    & span {
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      background: black;
      height: rem(3);
      transition: all 0.3s ease;
    }
    &:after{
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: rem(3);
      background: black;
      transition: all 0.3s ease
    }
    &::before{
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: rem(3);
      background: black;
      transition: all 0.3s ease
    }
  }
  .icon-menu__circle:hover + .menu__burger span, .icon-menu__circle:hover + .menu__burger:after, .icon-menu__circle:hover + .menu__burger:before{
    background: white;
  }
  &__container{
    z-index: 10;
    position: fixed;
    top: 0;
    bottom: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    display: flex;
    color: white;
    gap: rem(60);
    padding-top: 0;
    padding-bottom: 0;
    @media (max-width: 820px){
      flex-direction: column;
      bottom: 5%;
      gap: rem(24);
      height: 100%;
      overflow-y: auto;
      padding-top: 36px!important;
    }
  }
  &__left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__nav{
    display: none;
    flex-direction: column;
    gap: rem(36);
  }
  &__item{
    opacity: 0;
    transform: translateY(15px);
    transition: all 0.3s ease;
  }
  &__item-vis{
    opacity: 1;
    transform: translateY(0px);
  }
  &__link{
    position: relative;
    @include adaptiveValue("font-size", 60, 24, 1920, 320, 1);
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
    white-space: nowrap;
   &:after{
     content: '';
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     left: 110%;
     width: rem(0);
     height: rem(2);
     transition: all 0.3s ease;
     background: $mainBlueColor;
   }
    &:hover{
      &:after{
        width: rem(50);
      }
    }
    &:hover{
      color: $mainBlueColor;
    }
  }
  &__work{
    display: none;
    justify-self: flex-end;
    flex-direction: column;
    gap: 24px;
    opacity: 0;
    transform: translateY(15px);
    transition: all 0.3s ease;
  }
  &__work-vis{
    opacity: 1;
    transform: translateY(0px);
  }
  &__work-link{
    position: relative;
    font-size: rem(36);
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
    &:after{
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 110%;
      width: rem(0);
      height: rem(2);
      transition: all 0.3s ease;
      background: $mainBlueColor;
    }
    &:hover{
      &:after{
        width: rem(100);
      }
    }
    &:hover{
      color: $mainBlueColor;
    }
  }
  &__right{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 1 auto;
    @media (max-width: 820px){
      justify-content: flex-start;
      padding-bottom: rem(48);
    }
  }
  &__data{
    display: flex;
    flex-direction: column;
    gap: rem(200);
    transition: all 0.3s ease;
    opacity: 1;
    @media (max-width: 820px){
      @include adaptiveValue("gap", 48, 36, 1150, 320, 1);
      margin-top: auto;
    }
  }
  &__socials{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: rem(25);
    @media (max-width: 820px){
      justify-content: flex-start;
      @include adaptiveValue("margin-top", 40, 24, 1150, 320, 1);
    }
  }
  &__social{
    opacity: 0;
    transition: all 0.3s ease;
    transform: translateY(15px);
  }
  &__social-vis{
    opacity: 1;
    transform: translateY(0px);
  }
  &__social-link{
    display: flex;
    align-items: center;
    justify-content: center;
    @include adaptiveValue("width", 79, 32, 1320, 320, 1);
    @include adaptiveValue("height", 79, 32, 1320, 320, 1);
    @include adaptiveValue("font-size", 18, 14, 1150, 320, 1);
    border-radius: 50%;
    border: white 2px solid;
    transition: all 0.3s ease;
    &:hover{
      transform: scale(1.1);
    }
  }
  &__info-block{
    text-align: end;
    opacity: 0;
    transform: translateY(15px);
    transition: all 0.3s ease;
    @media (max-width: 820px){
      text-align: start;
    }
  }
  &__info-block-vis{
    opacity: 1;
    transform: translateY(0px);
  }
  &__geo{
    font-weight: bold;
    margin-bottom: rem(40);
    @media (max-width: $tablet){
      @include adaptiveValue("font-size", 25, 18, 1150, 320, 1);
      @include adaptiveValue("font-size", 25, 18, 1150, 320, 1);
    }

  }
  &__more-info{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: rem(40);
    font-weight: 500;
    line-height: rem(28);
    @media (max-width: 820px){
      justify-content: flex-start;
    }
    @media (max-width: $tablet){
      @include adaptiveValue("gap", 40, 20, 1150, 320, 1);
      @include adaptiveValue("line-height", 28, 22, 1150, 320, 1);
    }
  }
  &__path-link{
    display: inline;
    color: white;
    text-decoration: underline!important;
    &:hover{
      text-decoration: none!important;
    }
  }
  &__item-open{
  display: none;
  }
  &__item-list{
    display: flex;
    flex-direction: column;
    gap: rem(36);
  }
  &__subitem-link{
    font-size: rem(25);
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
    &:hover{
      color: $mainBlueColor;
    }
  }
}
.icon-menu{
  position: fixed;
  z-index: 11;
  right: calc((var(--mrigt) / 3));
  top: rem(40);
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  @media (max-width: 1150px){
    display: none;
  }

  @media (max-width: $preTablet){
    right: 4%;
  }
  &__circle{
    width: rem(178);
    height: rem(178);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ease;
    &:hover{
      & span{
        background: white;
      }
      .icon-menu__white{
        opacity: 1;
      }
      .icon-menu__black{
        opacity: 0;
        background: transparent;
      }
      .icon-menu__background{
        width: 100%;
        height: 100%;
      }
    }
  }
  &__background{
    position: absolute;
    background-color: #1f1f23;
    width: 0;
    height: 0;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease;
  }
  &__black{
    position: absolute;
    width: rem(130);
    height: rem(130);
    background: center / contain no-repeat url("@img/menu/menu_circle.svg");
    animation: circle 15s infinite linear;
    transition: all 0.1s ease;
  }
  &__white{
    z-index: 3;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: center / contain no-repeat url("@img/menu/menu_circle_white.svg");
    animation: circle 15s infinite linear;
    border-radius: 50%;
    transition: all 0.4s ease;
    opacity: 0;
  }
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}