.news{
  &__container{
    display: flex;
    justify-content: space-between;
    gap: 120px;
  }
  &__swiper{
  }
  &__description{
    font-size: 18px;
    line-height: 24px;
    color: #000;
    margin-bottom: 40px;
  }
  &__content{
    display: flex;
    flex-direction: column;
    height: 520px;
  }
  &__title{
    color: #303030;
    font-size: 78px;
    font-weight: bold;
    line-height: 92px;
    text-transform: uppercase;
    margin-bottom: 68px;
    span {
      font-size: 72px;
      color: #8EE1E7;
      line-height: 85px;
    }
  }
  &__subtitle{
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 16px;
  }
  &__arrows{
    margin-top: auto;
    display: flex;
    gap: 65px;
    justify-self: flex-end;
  }
  &__left{
    transform: rotate(180deg);
  }
  &__info{
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    &_active{

      position: static;
      display: flex;
      flex-direction: column;
      transition: all 0.1s ease;
      opacity: 1;
    }
  }
}