.news{
  &__container{
    display: flex;
    justify-content: space-between;
    @include adaptiveValue("gap", 120, 40);
    @media (max-width: $tablet){
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
    }
  }
  &__swiper{
  }
  &__description{
    color: #000;
    @include adaptiveValue("margin-bottom", 40, 20);
    @include adaptiveValue("font-size", 18, 14, 1920, 1150, 1);
    line-height: 133%;
  }
  &__content{
    display: flex;
    flex-direction: column;
    @include adaptiveValue("height", 520, 360);
    position: relative;
  }
  &__title{
    color: #303030;
    font-weight: bold;
    text-transform: uppercase;
    @include adaptiveValue("margin-bottom", 68, 12);
    @include adaptiveValue("font-size", 78, 54, 1920, 1150, 1);
    line-height: 120%;
    @media (max-width: $tablet){
      @include adaptiveValue("font-size", 54, 32, 1150, 320, 1);
    }
    span {
      @include adaptiveValue("font-size", 72, 48, 1920, 1150, 1);
      line-height: 120%;
      color: #8EE1E7;
      @media (max-width: $tablet){
        @include adaptiveValue("font-size", 48, 30, 1150, 320, 1);
      }
    }
  }
  &__subtitle{
    @include adaptiveValue("font-size", 24, 18, 1920, 1150, 1);
    line-height: 115%;
    text-transform: uppercase;
    color: #000;
    @include adaptiveValue("margin-bottom", 16, 8);
    @media (max-width: $tablet){
      font-weight: bold;
    }

  }
  &__arrows{
    margin-top: auto;
    display: flex;
    justify-self: flex-end;
    @include adaptiveValue("gap", 65, 32);
  }
  &__left{
    transform: rotate(180deg);
  }
  &__info{
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    &_active{
      position: static;
      display: flex;
      flex-direction: column;
      transition: all 0.1s ease;
      opacity: 1;
    }
  }
}