.present{
  @include adaptiveValue("margin-bottom", 80, 10, 1150, 320, 1);
  &__more {
    align-self: flex-start;
    position: relative;
    z-index: 10;
  }
  &__container{
    transform: translateZ(0);
    transform-style: preserve-3d;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      width: 75%;
      height: 10px;
      border-radius: 50%;
      left: 0;
      bottom: -50px;

      box-shadow: 0 30px 20px rgba(0, 0, 0, 0.3);
      @media (max-width: $tablet){
        box-shadow: none;
      }
    }
  }
  &__inner{
    transform-style: preserve-3d;
    border: 15px solid #8EE1E7;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include adaptiveValue("padding-top", 100, 20);
    @include adaptiveValue("padding-bottom", 65, 20);
    @include adaptiveValue("padding-left", 170, 20);
    @include adaptiveValue("padding-right", 146, 20);
    gap: 12px;
    transition: 0.3s ease all;
    @media (max-width: 1150px){
      border: 7.5px solid #8EE1E7;
    }
}
  &__text{
    font-size: 24px;
    @include adaptiveValue("font-size", 24, 16);
    line-height: 150%;
    color: #000000;
    text-transform: uppercase;
    transform: translateZ(0px);
  }
  &__icon{
    position: absolute;
    right: 45px;
    bottom: 0;
    transform: translateY(50%);
    @media (max-width: 890px){
      display: none;
    }
  }
  & .btn {
    transform: translateZ(10px);
    &:hover{
      text-decoration: underline;
    }
  }
}