@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин

// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Raleway";
$fontSize: rem(18); // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #000; // Цвет шрифта по умолчанию
$secColor: #303030;
$mainBlueColor: #84d1d7;
$secBlueColor: #C2F6FD;
$darkGreenColor: #0099B2;
// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1350;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 48;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$preTablet: em(1600);
$tablet: em(1149.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

.wrapper{
	position: relative;
}


// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

body {
	--mrigt: 387px;
	--mleft: 155px;
	--mheader: 60px;
	@media (max-width: $preTablet){
		--mrigt: 275px;
		--mleft: 155px;
		--mheader: 60px;
	}
	@media (max-width: $tablet){
		--mrigt: 155px;
		--mleft: 155px;
		--mheader: 60px;
	}

	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
	}
	// Сайт загружен
	.loaded & {
	}
}

// scrollbar =============================================
body::-webkit-scrollbar {
	width: rem(8);
}
body::-webkit-scrollbar-track{
	-webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
	background-color: #f9f9fd;
}
body::-webkit-scrollbar-thumb {
	background-color: #000000;
}

// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
	// Отзывчивая
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			//max-width: rem($maxWidthContainer);
			box-sizing: content-box;
			// margin: 0 auto;

			@media (min-width: 1150px){
				padding-right: var(--mrigt)!important;
				padding-left: var(--mleft) !important;
				width: calc(100% - (var(--mrigt) + var(--mleft)));
			}
			@media (max-width: 1150px){
				padding: 21px 24px;
			}
		}
		@if ($containerPadding>0) {
			padding-top: rem(45);
			padding-bottom: rem(45);
			@media (min-width: 1150px){
				padding-right: var(--mrigt)!important;
				padding-left: var(--mleft) !important;
			}
			@media (max-width: 1150px){
				padding: 21px 24px;
			}
		}
	}
} @else {
	// По брейк-поинтам
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";
@import "text";
@import "input";
@import "btn";
@import "cards";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";
@import "background";
@import "nav";
@import "menu";
@import "product";
@import "main-catalog";
@import "about";
@import "case";
@import "present";
@import "videos";
@import "news";
@import "feedback";
@import "page-header";
// каталог
@import "catalog/catalog";
@import "catalog/item-catalog";
@import "catalog/hits";

// тип роботы
@import "type-of-robot/type-robot";
@import "type-of-robot/models-robot";
@import "type-of-robot/robot-model";
@import "type-of-robot/efficiency";
@import "type-of-robot/result";

// новости
@import "news/news-list";
@import "news-current";
// роботы
@import "robot";

// кейсы
@import "cases";

// Подключение стилей отдельных страниц
@import "home";
