.videos{

  &__container{
    gap: 27px;
    display: flex;
    flex-direction: column;
  }
  &__title{
    font-weight: bold;
    color: #303030;
    line-height: 120%;
    @include adaptiveValue("font-size", 78, 54, 1920, 1150, 1);
    @media (max-width: $tablet){
      @include adaptiveValue("font-size", 54, 32, 1150, 320, 1);
    }
    span{
      color: #8EE1E7;
      @include adaptiveValue("font-size", 72, 48, 1920, 1150, 1);
      line-height: 120%;
      @media (max-width: $tablet){
        @include adaptiveValue("font-size", 48, 30, 1150, 320, 1);
      }
    }
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 95px;
    @include adaptiveValue("row-gap", 95, 45);
  }
  &__video{
    transition: 0.3s all ease;
    img{
      width: 250px;
      height: 250px;
    }
    &:hover{
      transform: scale(1.1);
    }
  }

}